
body {
height: 100vh;
 display: flex;
justify-content: center;
align-items: center;
background: #eef1f4;
font-family: Arial;
}
.card {
background: rgba(220, 213, 213, 0.822);
padding: 2rem;
border-radius: 10px;
text-align: center;
}

button {
padding: 5px 10px;
cursor: pointer;
}


.spinner {
margin: 15px auto;
width: 30px;
height: 30px;
border: 4px solid #ccc;
border-top: 4px solid blue;
border-radius: 55%;
animation: girar 1s linear infinite;
display: none; 
}

@keyframes girar {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
